<table class="table">
  <thead>
    <tr>
       <th scope="col">Name</th>
      <th scope="col">image</th>
      <th scope="col">qty</th>
      <th scope="col">price</th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
        <td>{{this.product.pname}}</td>
        <td><img src="/images/{{this.item}}.jpg" style="height: 50px; width:auto"></td>
        <td>{{this.quantity}}</td>
        <td>{{this.product.price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>  
